body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  display:flex;
  justify-content: center;
}

/* Barra principal */
/* Estilo para el logo pequeño */
.navbar-brand img {
    height: 40px; /* <--- ESTE ES EL VALOR QUE DEBES CAMBIAR */
    width: auto; 
    margin-right: 2px; 
    vertical-align: middle; 
}
.navbar-logo img {
    height: 40px; /* <--- ESTE ES EL VALOR QUE DEBES CAMBIAR */
    width: auto; 
    margin-right: 2px; 
    vertical-align: middle; 
}

/* Responsive */
@media (max-width: 900px) {
  .nav-center {
    display: none; /* Ocultar menú en móviles */
  }

  .search-box input {
    width: 100px;
  }
}
